.input {
  font-size: 16px;
  padding: 5px 5px;
  outline: none;
  margin-top: 10px;
  width: 100%;
  outline: none;
  font-size: 16px;
  padding: 5px;
  margin-top: 5px;
}

.label {
  display: block;
  font-size: 16px;
  text-align: left;
  text-transform: capitalize;
}
